@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&display=swap');

:root {
  --blue: #008AFF;
}

.navbar {
  top: -10px;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Fredoka', Sans-Serif;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--blue);
}

p, .container li {
  font-weight: 200;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
